In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[2]") \
    .appName("Load Data From HDFS") \
    .getOrCreate()

In [2]:
spark

In [3]:
# load hadoop format file parquet from hdfs

#df = spark.read.parquet("hdfs://localhost:9820/proyek/bank-additional.parq")
bank_df = spark.read.parquet("bank-additional.parq")
bank_df.show(5)
bank_df.printSchema()

+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|      job|marital|  education|housing|loan|  contact|month|day_of_week|duration|campaign|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|  y|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 56|housemaid|married|   basic.4y|     no|  no|telephone|  may|        mon|     261|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 57| services|married|high.school|     no|  no|telephone|  may|        mon|     149|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 37| services|married|high.school|    yes|  no|telephone|  may|        mon|     226|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 40|   admin.|married|   basic.6y|     no|  no|telephone|  may|        mon|     151|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 56| services|married|high.school|     no| yes|telephone|  may|        mon|     307|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 5 rows

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp_var_rate: float (nullable = true)
 |-- cons_price_idx: float (nullable = true)
 |-- cons_conf_idx: float (nullable = true)
 |-- euribor3m: float (nullable = true)
 |-- nr_employed: float (nullable = true)
 |-- y: string (nullable = true)

### Importing needful libraries

In [4]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.sql.functions import mean, col, split, col, regexp_extract, when, lit
from pyspark.ml.feature import StringIndexer, IndexToString, VectorAssembler, VectorIndexer
from pyspark.ml.feature import QuantileDiscretizer, OneHotEncoder

from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

from pyspark.ml.classification import LogisticRegression, DecisionTreeClassifier, RandomForestClassifier

from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [5]:
# Number of customers in the dataframe
clients_count = bank_df.count()
print("Number of customers is {}".format(clients_count))

Number of customers is 41166

In [6]:
# Number of customers which are subscribed vs. those not subscribed a term deposit
groupBy_clients = bank_df.groupBy("y").count()
groupBy_clients.show()

+---+-----+
|  y|count|
+---+-----+
| no|36526|
|yes| 4640|
+---+-----+

In [7]:
bank_df.describe([t[0] for t in bank_df.dtypes if t[1] == 'int']).show()

+-------+------------------+------------------+------------------+-------------------+
|summary|               age|          duration|          campaign|           previous|
+-------+------------------+------------------+------------------+-------------------+
|  count|             41166|             41166|             41166|              41166|
|   mean| 40.02356313462566| 258.3929456347471|  2.54875382597289|0.17305543409609872|
| stddev|10.421897109457673|259.30296411836315|2.6453043592282746| 0.4950171507468902|
|    min|                17|                 0|                 1|                  0|
|    max|                98|              4918|                32|                  7|
+-------+------------------+------------------+------------------+-------------------+

### Preparing Data for Machine Learning

In [8]:
def get_dummy(df, categoricalCols, continuousCols, labelCol):
    indexers = [StringIndexer(inputCol=c, outputCol="{0}_indexed".format(c)) for c in categoricalCols]
    encoders = [OneHotEncoder(inputCol=indexer.getOutputCol(), outputCol="{0}_encoded".format(indexer.getOutputCol())) for indexer in indexers]
    
    assembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in encoders] + continuousCols, outputCol="features")
    indexer = StringIndexer(inputCol=labelCol, outputCol='indexedLabel')
    
    pipeline = Pipeline(stages = indexers + encoders + [assembler] + [indexer])
    model=pipeline.fit(df)
    data = model.transform(df)
    
    data = data.withColumn('label', col(labelCol))
    
    return data.select('age', 'job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'features', 'indexedLabel', 'label'), StringIndexer(inputCol='label').fit(data)

In [9]:
# transform the data
categoricalColumns = ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
numericCols = ['age', 'duration', 'campaign', 'previous', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed']
(bank_df, labelindexer) = get_dummy(bank_df, categoricalColumns, numericCols, 'y')
bank_df.show(5)

+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+
|age|      job|marital|  education|housing|loan|  contact|month|day_of_week|duration|campaign|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|            features|indexedLabel|label|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+
| 56|housemaid|married|   basic.4y|     no|  no|telephone|  may|        mon|     261|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[8,11,18,22,2...|         0.0|   no|
| 57| services|married|high.school|     no|  no|telephone|  may|        mon|     149|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[3,11,15,22,2...|         0.0|   no|
| 37| services|married|high.school|    yes|  no|telephone|  may|        mon|     226|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[3,11,15,21,2...|         0.0|   no|
| 40|   admin.|married|   basic.6y|     no|  no|telephone|  may|        mon|     151|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[0,11,19,22,2...|         0.0|   no|
| 56| services|married|high.school|     no| yes|telephone|  may|        mon|     307|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[3,11,15,24,3...|         0.0|   no|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+
only showing top 5 rows

In [10]:
# fit the following featureIndexer model on the whole of the bank_df dataframe
featureIndexer = VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories=4).fit(bank_df)

featureIndexer.transform(bank_df).show(5)

+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+--------------------+
|age|      job|marital|  education|housing|loan|  contact|month|day_of_week|duration|campaign|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|            features|indexedLabel|label|     indexedFeatures|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+--------------------+
| 56|housemaid|married|   basic.4y|     no|  no|telephone|  may|        mon|     261|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[8,11,18,22,2...|         0.0|   no|(48,[8,11,18,22,2...|
| 57| services|married|high.school|     no|  no|telephone|  may|        mon|     149|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[3,11,15,22,2...|         0.0|   no|(48,[3,11,15,22,2...|
| 37| services|married|high.school|    yes|  no|telephone|  may|        mon|     226|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[3,11,15,21,2...|         0.0|   no|(48,[3,11,15,21,2...|
| 40|   admin.|married|   basic.6y|     no|  no|telephone|  may|        mon|     151|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[0,11,19,22,2...|         0.0|   no|(48,[0,11,19,22,2...|
| 56| services|married|high.school|     no| yes|telephone|  may|        mon|     307|       1|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|(48,[3,11,15,24,3...|         0.0|   no|(48,[3,11,15,24,3...|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+--------------------+
only showing top 5 rows

In [11]:
bank_df.show(5, False)

+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
|age|job      |marital|education  |housing|loan|contact  |month|day_of_week|duration|campaign|previous|poutcome   |emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|features                                                                                                                                                                              |indexedLabel|label|
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
|56 |housemaid|married|basic.4y   |no     |no  |telephone|may  |mon        |261     |1       |0       |nonexistent|1.1         |93.994        |-36.4        |4.857    |5191.0     |(48,[8,11,18,22,24,34,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,56.0,261.0,1.0,1.100000023841858,93.99400329589844,-36.400001525878906,4.85699987411499,5191.0])       |0.0         |no   |
|57 |services |married|high.school|no     |no  |telephone|may  |mon        |149     |1       |0       |nonexistent|1.1         |93.994        |-36.4        |4.857    |5191.0     |(48,[3,11,15,22,24,34,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,57.0,149.0,1.0,1.100000023841858,93.99400329589844,-36.400001525878906,4.85699987411499,5191.0])       |0.0         |no   |
|37 |services |married|high.school|yes    |no  |telephone|may  |mon        |226     |1       |0       |nonexistent|1.1         |93.994        |-36.4        |4.857    |5191.0     |(48,[3,11,15,21,22,24,34,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,37.0,226.0,1.0,1.100000023841858,93.99400329589844,-36.400001525878906,4.85699987411499,5191.0])|0.0         |no   |
|40 |admin.   |married|basic.6y   |no     |no  |telephone|may  |mon        |151     |1       |0       |nonexistent|1.1         |93.994        |-36.4        |4.857    |5191.0     |(48,[0,11,19,22,24,34,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,40.0,151.0,1.0,1.100000023841858,93.99400329589844,-36.400001525878906,4.85699987411499,5191.0])       |0.0         |no   |
|56 |services |married|high.school|no     |yes |telephone|may  |mon        |307     |1       |0       |nonexistent|1.1         |93.994        |-36.4        |4.857    |5191.0     |(48,[3,11,15,24,34,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,56.0,307.0,1.0,1.100000023841858,93.99400329589844,-36.400001525878906,4.85699987411499,5191.0])              |0.0         |no   |
+---+---------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
only showing top 5 rows

### Data Splitting

In [12]:
# split dataset to trainingData and testData

(trainingData, testData) = bank_df.randomSplit([0.7, 0.3], seed=10)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 28758
Test Dataset Count: 12408

In [13]:
# print sample of trainingData and testData

print("The first 5 samples of the Training Dataset:")
trainingData.show(5, False)
print("The first 5 samples of the Test Dataset:")
testData.show(5, False)

The first 5 samples of the Training Dataset:
+---+-------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
|age|job    |marital|education  |housing|loan|contact  |month|day_of_week|duration|campaign|previous|poutcome   |emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|features                                                                                                                                                                                               |indexedLabel|label|
+---+-------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
|18 |student|single |basic.4y   |no     |no  |cellular |apr  |thu        |108     |1       |0       |nonexistent|-1.8        |93.075        |-47.1        |1.365    |5099.1     |(48,[10,12,18,22,23,29,33,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,18.0,108.0,1.0,-1.7999999523162842,93.07499694824219,-47.099998474121094,1.3650000095367432,5099.10009765625])  |0.0         |no   |
|18 |student|single |high.school|no     |no  |telephone|nov  |thu        |75      |1       |0       |nonexistent|-0.1        |93.2          |-42.0        |4.245    |5195.8     |(48,[10,12,15,22,28,33,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,18.0,75.0,1.0,-0.10000000149011612,93.19999694824219,-42.0,4.244999885559082,5195.7998046875])                         |0.0         |no   |
|19 |student|single |basic.4y   |no     |yes |cellular |apr  |wed        |371     |2       |0       |nonexistent|-1.8        |93.075        |-47.1        |1.405    |5099.1     |(48,[10,12,18,23,29,35,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0,371.0,2.0,-1.7999999523162842,93.07499694824219,-47.099998474121094,1.4049999713897705,5099.10009765625])         |1.0         |yes  |
|19 |student|single |basic.6y   |no     |no  |cellular |mar  |tue        |136     |1       |0       |nonexistent|-1.8        |92.843        |-50.0        |1.556    |5099.1     |(48,[10,12,19,22,23,32,36,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0,136.0,1.0,-1.7999999523162842,92.84300231933594,-50.0,1.555999994277954,5099.10009765625])                 |1.0         |yes  |
|19 |student|single |basic.9y   |yes    |no  |cellular |jul  |mon        |87      |4       |0       |nonexistent|1.4         |93.918        |-42.7        |4.96     |5228.1     |(48,[10,12,16,21,22,23,25,34,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0,87.0,4.0,1.399999976158142,93.91799926757812,-42.70000076293945,4.960000038146973,5228.10009765625])|0.0         |no   |
+---+-------+-------+-----------+-------+----+---------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
only showing top 5 rows

The first 5 samples of the Test Dataset:
+---+-------+-------+-----------+-------+----+--------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
|age|job    |marital|education  |housing|loan|contact |month|day_of_week|duration|campaign|previous|poutcome   |emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|features                                                                                                                                                                                                    |indexedLabel|label|
+---+-------+-------+-----------+-------+----+--------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
|18 |student|single |basic.4y   |yes    |yes |cellular|apr  |thu        |184     |2       |0       |nonexistent|-1.8        |93.075        |-47.1        |1.365    |5099.1     |(48,[10,12,18,21,23,29,33,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,18.0,184.0,2.0,-1.7999999523162842,93.07499694824219,-47.099998474121094,1.3650000095367432,5099.10009765625])       |0.0         |no   |
|18 |student|single |high.school|yes    |yes |cellular|mar  |tue        |103     |1       |0       |nonexistent|-1.8        |92.843        |-50.0        |1.687    |5099.1     |(48,[10,12,15,21,23,32,36,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,18.0,103.0,1.0,-1.7999999523162842,92.84300231933594,-50.0,1.687000036239624,5099.10009765625])                      |0.0         |no   |
|19 |student|single |basic.9y   |no     |no  |cellular|apr  |thu        |165     |3       |0       |nonexistent|-1.8        |93.075        |-47.1        |1.41     |5099.1     |(48,[10,12,16,22,23,29,33,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0,165.0,3.0,-1.7999999523162842,93.07499694824219,-47.099998474121094,1.409999966621399,5099.10009765625])        |0.0         |no   |
|19 |student|single |basic.9y   |no     |no  |cellular|apr  |tue        |43      |3       |0       |nonexistent|-1.8        |93.075        |-47.1        |1.453    |5099.1     |(48,[10,12,16,22,23,29,36,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0,43.0,3.0,-1.7999999523162842,93.07499694824219,-47.099998474121094,1.4529999494552612,5099.10009765625])        |0.0         |no   |
|19 |student|single |basic.9y   |yes    |no  |cellular|apr  |tue        |299     |1       |0       |nonexistent|-1.8        |93.075        |-47.1        |1.453    |5099.1     |(48,[10,12,16,21,22,23,29,36,37,39,40,41,43,44,45,46,47],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0,299.0,1.0,-1.7999999523162842,93.07499694824219,-47.099998474121094,1.4529999494552612,5099.10009765625])|1.0         |yes  |
+---+-------+-------+-----------+-------+----+--------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-----+
only showing top 5 rows

# Fit and Evaluate Models

### Logistic Regression

In [14]:
# build logistic regression model
lr = LogisticRegression(labelCol="indexedLabel", featuresCol="features")

### Pipeline Architecture

In [15]:
#build Pipeline architecture

#convert indexed labels back to original labels
labelConverter = IndexToString(inputCol="prediction", outputCol="predictedLabel", labels=labelindexer.labels) 

#chain indexers and tree in Pipeline
pipeline = Pipeline(stages=[featureIndexer, lr, labelConverter])

#train model
lrModel = pipeline.fit(trainingData)

### Predictions

In [16]:
# Make predictions on the test data using the transform() method.
predictions = lrModel.transform(testData)
predictions.show(5)

+---+-------+-------+-----------+-------+----+--------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+--------------------+--------------------+--------------------+----------+--------------+
|age|    job|marital|  education|housing|loan| contact|month|day_of_week|duration|campaign|previous|   poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor3m|nr_employed|            features|indexedLabel|label|     indexedFeatures|       rawPrediction|         probability|prediction|predictedLabel|
+---+-------+-------+-----------+-------+----+--------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+--------------------+--------------------+--------------------+----------+--------------+
| 18|student| single|   basic.4y|    yes| yes|cellular|  apr|        thu|     184|       2|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.365|     5099.1|(48,[10,12,18,21,...|         0.0|   no|(48,[10,12,18,21,...|[2.17616995443539...|[0.89808906089028...|       0.0|            no|
| 18|student| single|high.school|    yes| yes|cellular|  mar|        tue|     103|       1|       0|nonexistent|        -1.8|        92.843|        -50.0|    1.687|     5099.1|(48,[10,12,15,21,...|         0.0|   no|(48,[10,12,15,21,...|[1.11427238708110...|[0.75292475818045...|       0.0|            no|
| 19|student| single|   basic.9y|     no|  no|cellular|  apr|        thu|     165|       3|       0|nonexistent|        -1.8|        93.075|        -47.1|     1.41|     5099.1|(48,[10,12,16,22,...|         0.0|   no|(48,[10,12,16,22,...|[2.30660595850943...|[0.90942266587252...|       0.0|            no|
| 19|student| single|   basic.9y|     no|  no|cellular|  apr|        tue|      43|       3|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.453|     5099.1|(48,[10,12,16,22,...|         0.0|   no|(48,[10,12,16,22,...|[2.80921804524057...|[0.94317192199486...|       0.0|            no|
| 19|student| single|   basic.9y|    yes|  no|cellular|  apr|        tue|     299|       1|       0|nonexistent|        -1.8|        93.075|        -47.1|    1.453|     5099.1|(48,[10,12,16,21,...|         1.0|  yes|(48,[10,12,16,21,...|[1.46914577992490...|[0.81292751406678...|       0.0|            no|
+---+-------+-------+-----------+-------+----+--------+-----+-----------+--------+--------+--------+-----------+------------+--------------+-------------+---------+-----------+--------------------+------------+-----+--------------------+--------------------+--------------------+----------+--------------+
only showing top 5 rows

In [17]:
#select some columns from predictions dataframe
predictions.select("features", "label", "probability", "predictedLabel").show(5)

+--------------------+-----+--------------------+--------------+
|            features|label|         probability|predictedLabel|
+--------------------+-----+--------------------+--------------+
|(48,[10,12,18,21,...|   no|[0.89808906089028...|            no|
|(48,[10,12,15,21,...|   no|[0.75292475818045...|            no|
|(48,[10,12,16,22,...|   no|[0.90942266587252...|            no|
|(48,[10,12,16,22,...|   no|[0.94317192199486...|            no|
|(48,[10,12,16,21,...|  yes|[0.81292751406678...|            no|
+--------------------+-----+--------------------+--------------+
only showing top 5 rows

In [18]:
# save bank_addtional_prediction to csv
import pandas as pd
bank_additional_prediction = predictions.select('age', 'job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'features', 'label', 'probability', 'predictedLabel')
bank_additional_prediction.toPandas().to_csv('bank_additional_prediction.csv', header = True)

In [19]:
# get the model from stages
model = lrModel.stages[1]
model

LogisticRegressionModel: uid=LogisticRegression_4146bfaacc88, numClasses=2, numFeatures=48

In [20]:
# get features names from encoded feature
from itertools import chain

attrs = sorted(
    (attr["idx"], attr["name"]) for attr in (chain(*predictions
        .schema[model.summary.featuresCol]
        .metadata["ml_attr"]["attrs"].values())))

[(name, model.coefficients[idx]) for idx, name in attrs]

[('job_indexed_encoded_admin.', 0.08924866289698549),
 ('job_indexed_encoded_blue-collar', -0.24583594553044985),
 ('job_indexed_encoded_technician', -0.02380195005234879),
 ('job_indexed_encoded_services', -0.10140805567917176),
 ('job_indexed_encoded_management', -0.10213303493281291),
 ('job_indexed_encoded_retired', 0.24856611859861943),
 ('job_indexed_encoded_entrepreneur', -0.040485407906996715),
 ('job_indexed_encoded_self-employed', -0.13684451567532407),
 ('job_indexed_encoded_housemaid', 0.04176295724993643),
 ('job_indexed_encoded_unemployed', 0.03186790174864883),
 ('job_indexed_encoded_student', 0.12259598114110253),
 ('marital_indexed_encoded_married', -0.04413899022758612),
 ('marital_indexed_encoded_single', 0.04813474416240916),
 ('marital_indexed_encoded_divorced', -0.041962393822326964),
 ('education_indexed_encoded_university.degree', 0.10944950804034131),
 ('education_indexed_encoded_high.school', -0.05192568576235654),
 ('education_indexed_encoded_basic.9y', -0.11473454254644623),
 ('education_indexed_encoded_professional.course', 0.024936496805587183),
 ('education_indexed_encoded_basic.4y', -0.11743594510641045),
 ('education_indexed_encoded_basic.6y', 0.08017676022612538),
 ('education_indexed_encoded_unknown', 0.05793989513181962),
 ('housing_indexed_encoded_yes', 0.026606126847321554),
 ('loan_indexed_encoded_no', 0.044759164996080035),
 ('contact_indexed_encoded_cellular', 0.25264734314707366),
 ('month_indexed_encoded_may', -0.761460648399662),
 ('month_indexed_encoded_jul', 0.3520040900422016),
 ('month_indexed_encoded_aug', 0.3132826629273475),
 ('month_indexed_encoded_jun', 0.25358428494126084),
 ('month_indexed_encoded_nov', -0.1411558889374649),
 ('month_indexed_encoded_apr', -0.11375020667563943),
 ('month_indexed_encoded_oct', 0.2641719991872999),
 ('month_indexed_encoded_sep', -0.10584857560680024),
 ('month_indexed_encoded_mar', 1.307982536351538),
 ('day_of_week_indexed_encoded_thu', 0.0849854773914325),
 ('day_of_week_indexed_encoded_mon', -0.11796085136180737),
 ('day_of_week_indexed_encoded_wed', 0.18444416190543927),
 ('day_of_week_indexed_encoded_tue', 0.1614893102276699),
 ('poutcome_indexed_encoded_nonexistent', -1.250470505404096),
 ('poutcome_indexed_encoded_failure', -1.742415975400075),
 ('age', 0.00201392275706025),
 ('duration', 0.0046877911342840545),
 ('campaign', -0.05669580404581202),
 ('previous', 0.1082955161496138),
 ('emp_var_rate', -0.3240103296549973),
 ('cons_price_idx', 0.32456645251351346),
 ('cons_conf_idx', 0.017096392780411817),
 ('euribor3m', -0.16756753630727064),
 ('nr_employed', -0.005827926758288745)]

### Compute the model accuracy

In [21]:
cm = predictions.select("label", "predictedLabel")          
cm.groupby('label').agg({'label': 'count'}).show()  
cm.groupby('predictedLabel').agg({'predictedLabel': 'count'}).show()

+-----+------------+
|label|count(label)|
+-----+------------+
|   no|       11028|
|  yes|        1380|
+-----+------------+

+--------------+---------------------+
|predictedLabel|count(predictedLabel)|
+--------------+---------------------+
|            no|                11582|
|           yes|                  826|
+--------------+---------------------+

In [22]:
#group predictions by label and predictedLabel
predictions.groupBy('label', 'predictedLabel').count().show()

+-----+--------------+-----+
|label|predictedLabel|count|
+-----+--------------+-----+
|   no|            no|10753|
|   no|           yes|  275|
|  yes|           yes|  551|
|  yes|            no|  829|
+-----+--------------+-----+

In [23]:
print("The Accuracy for test set is {}".format(cm.filter(cm.label == cm.predictedLabel).count()/cm.count()))

The Accuracy for test set is 0.9110251450676983

In [24]:
evaluator = MulticlassClassificationEvaluator(labelCol="indexedLabel", predictionCol="prediction", metricName="accuracy")
print("The Accuracy for test set is {}".format(evaluator.evaluate(predictions)))

The Accuracy for test set is 0.9110251450676983